.cart {
    display: flex;
}

.cartBody {
    display: flex;
    flex-direction: column;
}

.cartHeader {
    font-family: 'Emblema One';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-align: center;

}

.container {
    margin-top: 2%;
    width: 100%;
    margin: 2vh;
    height: 300px;
    overflow: hidden;
    overflow-y: auto;
    text-align: left;
}

.itemName {
    font-family: 'Englebert';
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
}
/* 
@media(max-width:650px) {

    .itemName {
        font-family: 'Englebert';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
    }
} */

.itemAvailability {
    font-family: 'Elephant';
    font-style: italic;
    font-weight: 400;
    font-size: 1.5vw;
    color: #53E08B;

}

.itemPrice {
    font-family: 'Elephant';
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    margin-top: 10px;
}

#containerButtons {
    display: flex;
    margin-top: 40px;
}

#containerButtons button {
    width: 38.8px;
    height: 35.18px;
    font-size: 35px;
    border: none;
}

.xcount {
    margin: 5px 15px;
}

.plusButton {
    background-color: #FFBD5A;
}

/* 
.minusButton {
    padding-right: 5px;

} */

.count {
    font-family: 'Elephant';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-top: 15px;
}

.bottom button {
    width: 80%;
    height: 50px;
    background: #FFBD5A;
    border-radius: 10px;
    font-family: 'Emblema One';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-left: 10%;
    border: none;
}


.line {

    position: absolute;
    width: 63.8%;
    height: 0px;
    opacity: 0.5;
    border: 1px solid #000000;
    transform: matrix(1, 0, -0.01, 1, 0, 0);
    margin-top: 5%;
}

.bottomContainer {
    background-color: white;
    display: flex;
    height: 100px;

}

#totalItems {
    font-family: 'Elephant';
    font-style: normal;
    font-weight: 400;
    font-size: 19.9px;

}

#totalPrices {
    margin-left: 70%;
    font-family: 'Elephant';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

/*class 'cart-product-item' is used for wrapping items*/
.cart-product-item {
    background-color: white;
    display: flex;
    margin-top: 25px;
    box-shadow: 0px 6px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 100px;
    margin: 15px;
    min-height: 10vh;
}

.itemImage {
    width: 20%;
    margin-left: 20px;

}

.containerItems img {
    height: 80%;
    width: 70%;
    margin-left: 12px;
    margin-top: 10px;
}

.itemData {
    width: 40%;
    margin-left: 60px;

}

.increaseDecrease {
    width: 30%;
    margin-left: 25px;
}

.cancelCart {
    width: 10%;
    font-weight: bold;
    font-size: 24px;
}